@import './base.css';

#app {
  margin: 0 auto;

  font-weight: normal;
  padding-left: 10px;
  padding-top: 10px;
}

table.table thead th {
  font-weight: bold;
}

p.infos {
  margin-top: 25px;
}

.nb_products {
  margin-right: 10px;
}

form.product label {
  display: block;
  font-weight: bold;
  margin-top: 10px;
}

form.product input {
  width: 100%;
}